<h1><%= @project.project_name %></h1>
<hr>

<% if @project.get_volunteers.any? %>
  <h2>Volunteers on your project:</h2>
  <% @project.get_volunteers.each do |volunteer| %>
    <h6><%= volunteer.volunteer_name%></h6>
  <% end %>

<% else %>
  <h6>There are no volunteers on this project</h6>
<% end %>

<hr>
<h2>Make mods to <%= @project.project_name %> Project</h2>

<div class="container">
  <p><a href="/projects/<%= @project.id %>/edit">Edit <%= @project.project_name%> Project's Name</a></p>
  <p><a href="/">Return to Main Page</a>
</div>

<hr>
<h2> Remove volunteers from a project:</h2>
<form action='/volunteers' method='post'>
  <label for='project_id'>Select a Project</label>
  <select id='project_id' name='project_id' type='text'>
    <% @projects.each do |project| %>
    <option value='<%= project.id%>'> <%= project.project_name %> </option>
    <% end %>
  </select>
  <br>
  <label for='volunteer_name'>Name of Volunteer</label>
  <input id='volunteer_name' name='volunteer_name' type='text'>
  <button type='submit' class='btn btn-default'>Remove</button>
</form>
